/* Opsta podesavanja*/
*{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.centralAlign{
	width: 70%;
	margin: 0px auto;
}
.plaviTekst{
	color: #4169E1;
}
.orangeBoja{
	color: #ef5220;
}
.cleaner{clear: both;}


/*header*/
#header{
	width: 100%;
	padding: 10px 0px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #fff;
}
#logo{
	float: left;
}
#logo h1{
	text-transform: uppercase;
	color: #000;
}
#logo a{
	font-size: 25px;
}
#navigation{
	float: right;
}
#navigation ul li{
	display: inline-block;
	padding: 10px 15px;
	margin-top: 5px;
}
#navigation ul li a{
	display: block;
	color: #000;
	font-size: 21px;
}
#navigation ul li a:hover{
	color: #4169E1;
	transform: scale(1.01);
}

#navigation ul .trenutnaStranica{
	background-color: #4169E1;
	border-radius: 5px;
}
#navigation ul .trenutnaStranica a{
	color: #fff;
}
#navigation ul .trenutnaStranica a:hover{
	color: #fff;
}


/*Cover sekcija*/
.cover{
	margin-top: 80px;
	width: 100%;
	height: 620px;
	padding-top: 1px;
}
#indexPage .cover{
	background: url("../img/indexCover.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#coverText{
	margin-top: 150px;
	width: 50%;
	color: #fff;
}
#coverText hr{
	width: 200px;
	margin: 15px;
	border-color: #4169E1;
}
#coverText h2{
	font-size: 70px;
}
#coverText h3{
	font-size: 25px;
	margin-bottom: 18px;
}
#coverText p{
	margin-bottom: 50px;
}
#coverText a{
	color: #fff;
	background-color: #4169E1;
	padding: 12px 60px;
	font-size: 25px;
	border-radius: 5px;
}
#coverText a:hover{
	background-color: #ef5220;
	transition: 1s;
}

/*middleRow - konzole u ponudi*/
#middleRowTitle{
	margin: 0px auto;
}
#middleRowTitle h2{
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
#middleRow{
	width: 100%;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
}
.middleRowBlock{
	text-align: center;
	width: 20%;
	border-radius: 10px;
	box-shadow: 0px 0px 15px darkgrey;
	margin-bottom: 30px;
}
.middleRowBlock:hover{
	transform: scale(1.02);
	transition: 0.1s;
	box-shadow: 1px 1px 7px #4169E1;
}
.middleRowBlock img{
	margin: 20px 0px;
	width: 80%;
}
.middleRowBlock h3{
	margin: 20px 0px;
}
.middleRowBlock hr{
	width: 30px;
	margin: 15px auto;
	border-color: #4169E1;
}

/*middleCover*/
#middleCover{
	width: 100%;
	background: url("../img/massEffects.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}
#middleCoverText{
	float: right;
	margin-top: 150px;
	text-align: center;
}
#middleCoverText h2{
	font-size: 70px;
	color: #000;
}
#middleCoverText hr{

	width: 200px;
	margin: 15px auto;
	border-color: #ef5220;
}
#middleCoverText a{
	color: #000;
	background-color: #ef5220;
	padding: 12px 60px;
	font-size: 25px;
	border-radius: 5px;
}
#middleCoverText p{
	font-size: 23px;
	margin-bottom: 40px;
	color: #000;
}
#middleCoverText a:hover{
	background-color: #4169E1;
	transition: 1s;
}


/*bottomRow*/
#bottomRowText{
	text-align: center;
}
#bottomRowText h2{
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
}
#bottomRowText hr{
	width: 200px;
	margin: 30px auto;
	border-color: #4169E1;
}
#bottomRowText p{
	font-size: 20px;
}

#bottomRow{
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
}
.bottomRowBlock{
	text-align: center;
	width: 30%;
	position: relative;	
	height: 100%;
	margin-bottom: 30px;
}
.bottomRowBlock img{
	width: 100%;
	border-radius: 30px;
}

.bottomRowBlockText{
	color: #fff;
	width: 100%;
	height: 30%;
	padding: 10px 0px;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: 3px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 20px;
}
.bottomRowBlockText h3{
	font-size: 18px;
	margin-bottom: 15px;
}
.bottomRowBlockText a{
	background-color: #4169E1;
	color: #fff;
	padding: 5px 15px;
	border-radius: 10px;
	font-size: 16px;
}
.bottomRowBlockText a:hover{
	background-color: #ef5220;
	transition: 0.3s;
}


/*footer*/
#footer{
	padding: 15px 0px;
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
}
#footer ul{
	margin-bottom: 15px;
}
#footer li{
	width: 40px;
	height: 40px;
	display: inline-block;
	
}
#footer ul li a{
	display: block;
	color: #fff;
	
	padding: 12px;
	font-size: 14px;
}
#footer ul li a:hover{
	border-radius: 180%;
	background-color: #4169E1;
}
#footer p{
	font-size: 12px;
}
#goUp{
	height: 25px;
}
#goUp a{
	display: block;
	margin: 0px auto;
	max-height: 20px;
	max-width: 20px;
	padding: 15px;
	background-color: #4169E1;
	border-radius: 180%;
	font-size: 30px;
	color: #fff;
	position: relative;
	top: -43px;
}
#goUp a:hover{
	background-color: #ef5220;
	transform: scale(1.1);
	transition: 1s;
}


/*igricePage cover*/
#igricePage .cover{
	background: url("../img/horizonZeroDawn.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

#igriceCoverText{
	margin-top: 150px;
	float: right;
	text-align: center;
}
#igriceCoverText h2{
	color: #fff;
	font-size: 40px;
}
#igriceCoverText h3{
	font-size: 70px;
	margin: 10px 0px 40px 0px;
}
#igriceCoverText a{
	background-color: #4169E1;
	color: #fff;
	padding: 10px 40px;
	border-radius: 10px;
	font-size: 30px;
}
#igriceCoverText a:hover{
	background-color: #ef5220;
	transform: scale(1.1);
	transition: 1s;
}

/*Gallery sekcija*/
#gallery{
	padding: 20px 0px 60px 0px;
}
.galleryRow{
	margin: 20px 0px;
}
.galleryRow h2{
	margin: 20px 0px;
	background-color: #4169E1;
	color: #fff;
	padding: 10px;
	width: 250px;
}
.galleryItems ul{
	display: flex;
	justify-content: space-between;
	
}
.galleryItems ul li{
	text-align: center;
	margin: 10px 6px;
	width: 15%;
}
.galleryItems ul li img{
	width: 100%;
	border-radius: 20px;
	box-shadow: 1px 1px 5px grey;
}
.galleryItems ul li img:hover{
	transform: scale(0.95);
	transition: 0.4s;
}
.galleryItems ul li h3{
	font-size: 15px;
}

.galleryRow .xbox{
	float: right;
	background-color: green;
	text-align: right;
}
.galleryRow .nintendo{
	background-color: #ef5220;
}


/*konzole Cover*/
#konzolePage .cover{
	background: url("../img/city.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
#konzoleCoverTitle h2{
	text-align: center;
	color: #fff;
	font-size: 70px;
	margin-top: 150px;
}

/*konzole row*/
.konzolaRow{
	display: flex;
	justify-content: space-between;
	position: relative;
	top: -200px;
	margin-top: 100px;
}
.konzolaBlock{
	background-color: #fff;
	width: 42%;
	border-radius: 20px;
	box-shadow: 0px 0px 8px darkgrey;
	text-align: center;
}
.konzolaImg{
	width: 100%;
	margin: 30px 0px;
}
.konzolaImg img{
	width: 60%;
}
.konzolaText{
	margin-top: 20px;
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #000;
}
.konzolaText hr{
	margin: 10px auto;
	width: 70%;
}
.konzolaText h3{
	font-size: 30px;
	color: #4169E1;
}
.konzolaText p{
	line-height: 1.5;
	font-size: 18px;
}
.konzolaCena{
	margin: 0px auto;
	width: 100%;
	margin-top: 40px;
	background-color: #000;
	padding: 10px 0px;
	color: #000;
	border-radius: 0px 0px 20px 20px;
}
.konzolaCena p{
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
}
.cena{
	font-size: 70px;
	letter-spacing: 1px;
	line-height: 1;
	padding-left: 20px;
	color: #4169E1;
	font-weight: bold;
}
